.sidebar {
    flex: 0.25;
    margin: 2.5rem;
    border-radius: .7rem;
    border: 1px solid hsl(0, 0%, 80%);
}

.sidebar__img {
    margin: 0 auto;
}

.sidebar__header {
    text-align: center;
    font-size: .8rem;
    border-bottom: 1px solid hsl(0, 0%, 50%);
    padding: 1rem .6rem;
}

.sidebar__info:not(:last-child) {
    border-bottom: 1px solid hsl(0, 0%, 50%);
    padding: .6rem;
    font-size: .8rem; 
}

.sidebar__info > span {
    display: block;
}

.sidebar__info:last-child {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding-bottom: .6rem;
}
